<script type="text/javascript">
    var modal = document.querySelector('.modal');

    function closeModal() {
        modal.classList.remove('active');
    }

    function showModal() {
        modal.classList.add('active');
    }


    var submit = document.querySelector('#submit');


    submit.addEventListener('click', (e) => {
        e.preventDefault();

        var origin = document.getElementsByName('origin')[0];
        var destination = document.getElementsByName('destination')[0];
        var vehicle_id = document.getElementsByName('vehicle_id')[0];

        if (origin.value.length === 0) {
            alert('PLease Select An Origin!');
            return;
        }
        if (destination.value.length == 0) {
            alert('Please Select A Destination');
            return;
        }

        var formData = new FormData();

        formData.append('id', '{{drive.id}}');
        formData.append('origin', origin.value);
        formData.append('destination', destination.value);
        formData.append('vehicle_id', vehicle_id.value);


        xhr = new XMLHttpRequest();
        xhr.responseType = 'json'
        xhr.onreadystatechange = function() {
            if (xhr.status != 200) {

            } else {
                console.log(this.response);
                if (this.response['updated'] === true) {
                    window.location.reload();
                }
            }

        }
        let url = "{% url 'user:update-drive' %}";
        xhr.open('POST', url, true);
        xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
        xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
        xhr.send(formData)

    })
</script>