<script>

    var cancel = document.querySelector('#cancel');
    var updatePsw = document.querySelector("#updatePsw");
    var modal1 = document.querySelector('.modal1');
    var msg = document.querySelectorAll('.msg');

    var passwordUpdateForm = document.querySelector('#passwordUpdateForm');

    var input = passwordUpdateForm.querySelectorAll('input');

    input.forEach((ele,index)=>{
        ele.addEventListener('input',(e)=>{
            msg[index-1].innerHTML = '';
            msg[index-1].style ='';
        })
    });

    var oldPsw = document.querySelector('#oldpassword');
    var newPasswrd = document.querySelector('#password');
    var confirmpassword = document.querySelector('#confirmpassword')
    var isPasswordVerify = null;

    async function verifyPassword(psw){
       let url = "{% url 'user:verify_password' %}";
       {% comment %} console.log(url); {% endcomment %}
       var formData = new FormData();
       formData.append('password',psw);
       formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
       console.log(formData);
       const response = await fetch(url,{
           method:'POST',
           body:formData
       });
       const data = await response.json();
       if(response.status !==200){
           throw Error(data.message);
       }
       return data;

    }


    cancel.addEventListener('click',(e)=>{
        e.preventDefault();
        window.location = "{% url 'user:settings' %}";

    })


    updatePsw.addEventListener('click', async (e)=>{
        e.preventDefault()
        if(oldPsw.value.length === 0){
            // alert('PLease enter the old password');
            msg[0].innerHTML = 'PLease enter the old password';
            msg[0].style.color = 'red';
            show(3);
            return;
        }
        if(newPasswrd.value.length === 0){
            // alert('PLease enter the new password');
            msg[1].innerHTML = 'PLease enter the new password';
            msg[1].style.color = 'red';
            show(3);
            return;
        }
        if(confirmpassword.value.length === 0){
            // alert('PLease enter confirm password');
            msg[2].innerHTML = 'PLease enter confirm password';
            msg[2].style.color = 'red';
            show(3);
            return;
        }
        
        if(newPasswrd.value.length < 8){
            msg[1].innerHTML = 'PLease The Password Length Must Be atleast 8 characters';
            msg[1].style.color = 'red';
            show(3);
        }
        if(confirmpassword.value.length < 8){
            msg[2].innerHTML = 'PLease The Confirm Password Length Must Be alteast 8 characters';
            msg[2].style.color = 'red';
            show(3);
            return;
        }
        if(newPasswrd.value !== confirmpassword.value){
            alert("The Password dont match");
            show(3);
            return;
        }
        modal1.classList.add('active');
        var data = await verifyPassword(oldPsw.value);
        console.log({data});
        var not = document.querySelector('#not');

        if(data){
            modal1.classList.remove('active')
        }
        if(data['verify'] == true){
            {% comment %} not.classList.add('alert-success');
            not.innerHTML = "Your password was updated successfully!"; {% endcomment %}
            modal1.classList.add('active');
            var formData = new FormData();
            formData.append('csrfmiddlewaretoken','{{ csrf_token }}');
            formData.append('password',newPasswrd.value);
            var url = "{% url 'user:update_user_password' %}";
            const resp = await fetch(url,{
                method:'POST',
                body:formData
            });
            var data = await resp.json();
            console.log(data);
            if(data){
                modal1.classList.remove('active')
            }
            if(resp.status == 200){
                if(data['updated'] == true){
                    not.classList.add('alert-success');
                    not.innerHTML = "Password updated successfully!";
                    modal1.classList.remove('active')
                }
            }
            else{
                not.classList.add('alert-danger');
                modal1.classList.remove('active')

                not.innerHTML = "An Error Occur And The Password Could Not Be Updated!";
            }
        }
        else
        {
            not.classList.add('alert-danger');
            not.innerHTML = "The Old Password Does Not Match!";
            {% comment %} alert('PLease The old Password is incorrect!'); {% endcomment %}
        }
        
    })

</script>